{% extends "base.html" %}

{% block content %}
  {% load django_bootstrap5 %}

  {% block title %}
    <!-- <h1>Modifier votre ticket</h1> -->
    <!-- <h1>Créer un nouveau ticket</h1> -->
  {% endblock title %}
  <div class="col-12 offset-lg-2 col-lg-8">
    <div class="w-100 p-4 border border-light shadow-lg rounded ">

      <form method="post" enctype="multipart/form-data">
        <h3>Livre / Article</h3>
        {% csrf_token %}
        {% bootstrap_form form %}

        {% block button %}
          <!-- <button type="submit">Enregistrer</button> -->
          <!-- <button type="submit">Publier</button> -->
        {% endblock button %}
      </form>

    </div>
  </div>
{% endblock content %}