{% extends 'base.html' %} 

{% block content %}

  {% block title %}
    <!-- <h1>Suppression de votre critique</h1> -->
    <!-- <h1>Suppression de votre ticket</h1> -->
  {% endblock title %}

  <p>
    Êtes-vous sûr de vouloir supprimer votre 

    {% block product %}
      <!-- critique sur <a href="{% url 'ticket_detail' review.ticket.id %}">{{ review.ticket.title }}</a>  -->
      <!-- ticket <a href="{% url 'ticket_detail' ticket.id %}">{{ ticket.title }}</a> -->
    {% endblock product %}
    ?
 
  </p>
  
  <p>Les données de votre post seront définitivement perdues.</p>

  <form method="POST">
    {% csrf_token %}
    <input type="submit" value="Supprimer" />
  </form>

{% endblock %}