{% extends 'base.html' %} 

{% block content %}

    {% include 'review/partials/flash_message.html' %}

    <div>
        <h1>Suivre un utilisateur</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }} 
            <button type="submit">Suivre</button>
        </form>
    </div>
    <div>
        <h1>Abonnements</h1>
        {% for followed_user in followed_users %}

            <p>
                {{followed_user.user_2.username|capfirst}} 
                <button>
                    <a href="{% url 'relation_delete' followed_user.id %}">Ne plus suivre</a>
                </button>
            </p>
            
        {% empty %}
	
		<p>Aucun Abonnement.</p>
		
	    {% endfor %}
    </div>
    <div>
        <h1>Abonnés</h1>
        {% for follower in followers %}

            <p>
                {{follower.user_1.username|capfirst}}
                <button>
                    <a href="{% url 'relation_block' follower.id %}">Bloquer</a>
                </button>
            </p>
            
        {% empty %}

        <p>Aucun Abonné.</p>
        
        {% endfor %}
    </div>
    <div>
        <h1>Utilisateurs bloqués</h1>
        {% for blocked in blocked_users %}

            <p>
                {{blocked.user_2.username|capfirst}}
                <button>
                    <a href="{% url 'relation_delete' blocked.id %}">Débloquer</a>
                </button>
            </p>
            
        {% empty %}

        <p>Aucun utilisateur bloqué.</p>
        
        {% endfor %}
    </div>

{% endblock content %}