{% extends 'base.html' %} 

{% block content %}

  {% if review.user == user or review.self_review.user == user %}
    <h1 class="text-center my-3">Votre critique</h1>
  {% else %}
    <h1 class="text-center my-3">Critique</h1>
  {% endif %}

  {% include "review/partials/create_menu.html" %}

  {% include 'review/partials/flash_message.html' %}

  {% if review %}
    {% include "review/partials/1_read.html" %}
  {% else %}
    <p>Aucune critique trouvée.</p>
  {% endif %}

{% endblock content %}