{% extends 'base.html' %} {% block content %}

<h1>Critique</h1>
{% if review %}

<table>
  <tr>
    <td>
      <p>
        {{ticket.user|capfirst }} a demandé une critique le
        {{ticket.time_created|date}} à {{ticket.time_created|date:"H\hi"}}.
      </p>
      {% if ticket.time_edited %}
      <p>
        Demande modifiée le {{ticket.time_edited|date}} à
        {{ticket.time_edited|date:"H\hi"}}.
      </p>
      {% endif %}

      <p>{{ticket.title|capfirst }}</p>
      {% if ticket.description %}
      <p>{{ticket.description|capfirst }}</p>
      {% endif %} {% if ticket.image %}
      <p>
        <img
          src="{{ticket.image.url}}"
          alt="{{ticket.title|capfirst }}"
          class="image"
        />
      </p>
      {% endif %} 
      {% if ticket.user == user %}
      <p>
        <a href="{% url 'ticket_update' ticket.id %}">Modifier</a>
      </p>
      <p><a href="{% url 'ticket_delete' ticket.id %}">Supprimer</a></p>
      {% endif %}

      <p><a href="">Créer une critique</a></p>
    </td>
  </tr>
</table>
{% else %}
<p>Aucune demande trouvée.</p>
{% endif %} {% endblock content %}
