{% extends 'base.html' %} 

{% block content %}


  {% if review.ticket.user == user %}
    <h1 class="text-center my-3">Votre demande de critique</h1>
  {% else %}
    <h1 class="text-center my-3">Demande de critique</h1>
  {% endif %}

  {% include "review/partials/create_menu.html" %}

  {% include 'review/partials/flash_message.html' %}

    {% if review %}
      {% include "review/partials/1_read.html" %}
    {% else %}
      <p>Aucune demande de critique trouvée.</p>
    {% endif %}

{% endblock content %}