{% extends "base.html" %}

{% block content %}

  {% block title %}
    <!-- <h1>Modifier votre ticket</h1> -->
    <!-- <h1>Créer un nouveau ticket</h1> -->
  {% endblock title %}

  <div class="ticket">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h3>Livre / Article</h3>

      {% for field in form %}
        <p><label for="{{ field.id_for_label }}">{{ field.label }}</label></p>
        <p>{{ field }}</p>
      {% endfor %}

      {% block button %}
        <!-- <button type="submit">Enregistrer</button> -->
        <!-- <button type="submit">Publier</button> -->
      {% endblock button %}

    </form>
  </div>
{% endblock content %}