{% extends "base.html" %}

{% block content %}
  <h2>Réinitialisation du mot de passe</h2>
  <p>Mot de passe perdu ? Saisissez votre adresse électronique ci-dessous et nous vous enverrons les instructions pour en créer un nouveau.</p>
  <form method="post">
    {% csrf_token %}

    <label for="id_email">Adresse électronique :</label>
    <input type="email" name="email" autocomplete="email" maxlength="254" required id="id_email">
    <p><button type="submit">Réinitialiser mon mot de passe</button></p>
    
  </form>
{% endblock %}