{% extends "base.html" %}

{% block content %}

  <h1 class="text-center my-4 mb-5">Réinitialisation du mot de passe</h1>
  <div class="offset-2 col-8">
    <p>
      Mot de passe perdu ? Saisissez votre adresse électronique 
      ci-dessous et nous vous enverrons les instructions pour en créer un nouveau.
    </p>
    
    <form method="post" class="mt-5">
      {% csrf_token %}
      <label for="id_email" class="form-label">Adresse électronique</label>
      <input class="form-control" type="email" name="email" autocomplete="email" maxlength="254" required id="id_email">
      <p class="my-3 mt-5">
        <button type="submit" class="btn btn-dark w-100">Réinitialiser mon mot de passe</button>
      </p>  
    </form>

  </div>
  
{% endblock %}