.comment {
  border: black 1px dotted;
  padding: 1%;
  width: 90%;
  margin-bottom: 1%;
}
/* .review {
  border: black 1px solid;
}

.review_form {
  border: black 1px solid;
  border-top: none;
} 
.ticket {
  border: black 1px solid;
}  */
.rounded-circle {
  height: 30px;
}
/* id_rating correspond aux bouton radio */
#id_rating {
  display: flex;
  justify-content: space-around;
}

.success {
  padding: 0.5%;
  background-color: #dfd;
}
/* message flash type error */
.error {
  padding: 0.5%;
  background-color: rgb(255, 229, 169);
}
/* message flash type succès */
.info {
  padding: 0.5%;
  background-color: rgb(255, 229, 169);
}
