.comment {
  border: black 1px dotted;
  /* padding: 1%;
  width: 90%;
  margin-bottom: 1%; */
}

/* rounded-circle > profile photo in header */
.rounded-circle {
  height: 30px;
}
/* id_rating > button radio */
#id_rating {
  display: flex;
  justify-content: space-around;
}
