{% if review.user or review.self_review %}
	<div class="my-2 mb-5 offset-1 col-10 offset-lg-3 col-lg-6 border border-secondary rounded bg-light">
		{% include "review/partials/1a_read_review.html" %}

		{% include "review/partials/1b_read_self_review.html" %}

		{% include "review/partials/1c_read_ticket.html" %}

		{% include "review/partials/1d_button_edit_review.html" %}

		{% include "review/partials/1e_button_create_review.html" with p="True" %}

	</div>
{% else %}
	<div class="my-2 mb-5 offset-1 col-10 offset-lg-3 col-lg-6 border border-secondary rounded bg-light">
		{% include "review/partials/1c_read_ticket.html" with button="True" %}
	</div>
{% endif %}

{% if posts %}
	{% if review.user or review.self_review %}
		{% if review.ticket.user == user %}
			<div class="my-2 mb-5 offset-1 col-10 offset-lg-3 col-lg-6 border border-secondary rounded bg-light">
				{% include "review/partials/1c_read_ticket.html" with button="True" %}
			</div>
		{% endif %}
	{% endif %}
{% endif %}
	
