{% load custom_filters %}

{% if review.self_review %}
  <div class="p-2 pt-3 my-2 shadow border border-secondary rounded bg-light">
    <p>
      {% if review.self_review.user == user %}
        Vous avez
      {% else %}
        {{review.self_review.user|capfirst}} a
      {% endif %} 
      publié une critique
      {% if review.self_review.time_created|is_recent %}
        {{review.self_review.time_created|get_posted_at_display}}
      {% else %}
        à {{review.self_review.time_created|date:"H\hi"}},
        le {{review.self_review.time_created|date}}
      {% endif %}    
  </p>

  {% if review.self_review.time_edited %}
    <p>
      Modifié 
      {% if review.self_review.time_edited|is_recent %}
        {{review.self_review.time_edited|get_posted_at_display}}
      {% else %}
        à {{review.self_review.time_edited|date:"H\hi"}},
        le {{review.self_review.time_edited|date}}
      {% endif %}  
    </p>
  {% endif %}

    <p>{{review.self_review.headline|capfirst}} - {{review.self_review.star}}</p>

    {% if review.self_review.body %}
      <p>{{review.self_review.body|capfirst}}</p>
    {% endif %}
  </div>
{% endif %}