{% load custom_filters %}

<div class="ticket">
  <p>
    {% if review.ticket.user == user %}
      Vous avez
    {% else %}
      {{review.ticket.user|capfirst}} a 
    {% endif %}  
    demandé une critique
    {% if review.ticket.time_created|is_recent %}
      {{review.ticket.time_created|get_posted_at_display}}
    {% else %}
      à {{review.ticket.time_created|date:"H\hi"}},
      le {{review.ticket.time_created|date}}
    {% endif %}    
  </p>

  {% if review.ticket.time_edited %}
    <p>
      Modifié 
      {% if review.ticket.time_edited|is_recent %}
        {{review.ticket.time_edited|get_posted_at_display}}
      {% else %}
        à {{review.ticket.time_edited|date:"H\hi"}},
        le {{review.ticket.time_edited|date}}
      {% endif %}  
    </p>
  {% endif %}

  <p>
    {% if review.ticket.product_type %}
      {{review.ticket.product_type|capfirst}} : 
    {% endif %}

    {{review.ticket.title|capfirst}}{% if review.ticket.author %}, 
      écrit par {{review.ticket.author|capfirst}}
    {% endif %}

    {% if review.ticket.release_date %}
       [{{review.ticket.release_date}}]
    {% endif %}
  </p>

  {% if review.ticket.description %}
    <p>{{review.ticket.description|capfirst}}</p>
  {% endif %} 
  
  {% if review.ticket.image %}
    <p>
      <img
        src="{{review.ticket.image.url}}"
        alt="{{review.ticket.title|capfirst}} image"
        class="image"
      />
    </p>
  {% endif %} 
  
  {% if button %} 
    {% if review.ticket.user == user %}
      <p>
        <button>
          <a href="{% url 'ticket_update' review.ticket.id %}">Modifier le ticket</a>
        </button>
        <button>
          <a href="{% url 'ticket_delete' review.ticket.id %}">Supprimer le ticket</a>
        </button>
      </p>
    {% endif %} 
    {% include "review/partials/1e_button_create_review.html" %}
	{% endif %}
</div>
