{% if review.user %}
  <div class="comment">
    <p>
      {% if review.user == user %}
        Vous avez
      {% else %}
        {{review.user|capfirst}} a
      {% endif %} 
      publié une critique à {{review.time_created|date:"H\hi"}},
      le {{review.time_created|date}}
    </p>

    {% if review.time_edited %}
      <p>
        Modifié à
        {{review.time_edited|date:"H\hi"}},
        le {{review.time_edited|date}}
      </p>
    {% endif %}

    <p>{{review.headline|capfirst}} - {{review.star}}</p>

    {% if review.body %}
    <p>{{review.body|capfirst}}</p>
    {% endif %}
  </div>
{% endif %}