{% if review.self_review %}
<div class="self_review">
    <p>
        {% if review.self_review.user == user %}Vous avez{% else %}{{review.self_review.user}} a
        {% endif %} publié une critique {{review.self_review.time_created|date:"H\hi"}},
        {{review.self_review.time_created|date}}
      </p>

      {% if review.self_review.time_edited %}
      <p>
        Modifié {{review.self_review.time_edited|date}} à
        {{review.self_review.time_edited|date:"H\hi"}}.
      </p>
      {% endif %}

      <p>{{review.headline|capfirst}} - {{review.star}}</p>

      {% if review.body %}
      <p>{{review.body|capfirst}}</p>
      {% endif %}
</div>
{% endif %}