{% if review.self_review %}
  <div class="comment">
    <p>
        {% if review.self_review.user == user %}
          Vous avez
        {% else %}
          {{review.self_review.user|capfirst}} a
        {% endif %} 
        publié une critique à {{review.self_review.time_created|date:"H\hi"}},
        le {{review.self_review.time_created|date}}
    </p>

    {% if review.self_review.time_edited %}
      <p>
        Modifié à {{review.self_review.time_edited|date}}
        le {{review.self_review.time_edited|date:"H\hi"}}
      </p>
    {% endif %}

    <p>{{review.self_review.headline|capfirst}} - {{review.self_review.star}}</p>

    {% if review.self_review.body %}
      <p>{{review.self_review.body|capfirst}}</p>
    {% endif %}
  </div>
{% endif %}