{% load static %} 
{% load tz %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LITRewiew</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <header>
      <nav>
        {% if user.is_authenticated %}
          <span>Vous êtes connecté en tant que {{ user|capfirst }}. </span>
          <a href="{% url 'home' %}">Flux</a>
          <a href="{% url 'ranking' %}">Classement</a>
          <a href="{% url 'posts' %}">Posts</a>
          <a href="{% url 'search' %}">Rechercher</a>
          <a href="{% url 'relation' %}">Abonnements</a>
          <a href="{% url 'profile' %}">Mon profil</a>
          <a href="{% url 'logout' %}">Se déconnecter</a>
        {% endif %}
        <p><img src="{% static 'img/icon.png' %}" alt="LITRewiew icon" /></p>
      </nav>
    </header>
    <main>
      {% block content %}
      {% endblock content %}
  </main>
  <footer>
    {% block footer %}
    {% endblock footer %}
  </footer>
  </body>
</html>
