<!-- modifier la vue create review pour stocker la self review dans 
review.self_review -->

<!-- penser à l'ordre d'affichage entre la self review et la review
tiers -->

{% if review.user and home %}
<!-- on affiche ici la critique tiers -->
<div class="review">
      <p>
        {% if review.user == user %}Vous avez{% else %}{{review.user}} a
        {% endif %} publié une critique {{review.time_created|date:"H\hi"}},
        {{review.time_created|date}}
      </p>

      {% if review.time_edited %}
      <p>
        Modifié {{review.time_edited|date}} à
        {{review.time_edited|date:"H\hi"}}.
      </p>
      {% endif %}

      <p>{{review.headline|capfirst}} - {{review.star}}</p>

      {% if review.body %}
      <p>{{review.body|capfirst}}</p>
      {% endif %}

      {% include "read_ticket.html" %}

      {% if review.user == user and  %}
      <p><button><a href="">Modifier la critique</a></button> <button><a href="">Supprimer la critique</a></button></p>
      {% endif %}
      <!-- modif ici -->
      {% include "create_review_button" %}
</div>
{% endif %}

{% if review.self_review %}
<!-- afficher ici le self_review ! (l'auto critique sur un ticket)
 -->
{% endif %}

<!-- affichage du ticket en dessous de la self_review dans
   la vue post -->
{% if not home  %}
  <!-- la self review est stocké dans review.self_user -->
  {% if review.self_review.user == user %}
    {% include "read_ticket.html" with outside="True" %}
  {% endif %}
  
{% endif %}


<!-- à supprimer et à remplacer par :
  Pour home : mélanger review et ticket et les trier
    1: s'il s'agit d'un ticket afficher le ticket
    2: s'il s'agit d'une review afficher la review  -->
{% if home and review.time_created != review.ticket.time_created %}
  {% include "read_ticket.html" with outside="True" %}
{% endif %}


