{% if review.user %}
<div class="review">
      <p>
        {% if review.user == user %}Vous avez{% else %}{{review.user}} a
        {% endif %} publié une critique {{review.time_created|date:"H\hi"}},
        {{review.time_created|date}}
      </p>

      {% if review.time_edited %}
      <p>
        Modifié {{review.time_edited|date}} à
        {{review.time_edited|date:"H\hi"}}.
      </p>
      {% endif %}

      <p>{{review.headline|capfirst}} - {{review.star}}</p>

      {% if review.body %}
      <p>{{review.body|capfirst}}</p>
      {% endif %}

      {% include "read_ticket.html" %}

      {% if review.user == user %}
      <p><button><a href="">Modifier la critique</a></button> <button><a href="">Supprimer la critique</a></button></p>
      {% endif %}

      {% if review.user != user and not review.response  %}
        <p><button><a href="">Créer une critique</a></button></p>
      {% endif %}
</div>
{% endif %}

{% if not home  %}
  {% if review.user == review.ticket.user or not review.user %}
    {% include "read_ticket.html" with outside="True" %}
  {% endif %}
{% endif %}

{% if home and review.time_created != review.ticket.time_created %}
  {% include "read_ticket.html" with outside="True" %}
{% endif %}


